[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
thoth-storages = "*"
thoth-common = "*"
responder = "==1.1.1"
flask-apscheduler = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
