[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus_client = "*"
flask = "*"
gunicorn = "*"
apscheduler = "*"
flask-apscheduler = "*"
thoth-storages = "*"
thoth-common = {extras = ["openshift"], version = "*"}

[dev-packages]

[requires]
python_version = "3.6"
