[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
thoth-storages = "*"
thoth-common = "*"
flask-cors = "*"
gunicorn = "*"
decorator = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
aiocontextvars = "*"
prometheus-api-client = "*"
requests = "*"
beautifulsoup4 = "*"
thoth-python = "*"
thoth-messaging = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
